* {
    box-sizing: border-box;
}

.app {
    width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.headerContent {
    display: flex;
    width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.headerContent h1 {
    flex-grow: 1;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 0;
}

.headerContent button {
    background-color: #e9944e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .9s ease;
}

.headerContent button:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 115, 0);
}

.mainBody {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
}

.searchResults {
    width: 475px;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 25px;
}

.searchResults h2 {
    color: white;
}

.playlist {
    width: 475px;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 25px;
}

span {
    color: rgb(255, 115, 0);
}



h2 {
    margin-top: 0;
}