.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.headerContent {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.headerContent h1 {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 0;
}

.headerContent button {
    background-color: #e9944e;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    transition: .9s ease;
}

.headerContent button:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 115, 0);
}

.mainBody {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'searchResults playlist';
    gap: 50px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.searchResults {
    grid-area: searchResults;
    max-width: 500px;
    
}

.playlist {
    grid-area: playlist;
    max-width: 500px;
    
}

span {
    color: rgb(255, 115, 0);
}



h2 {
    margin-top: 0;
}