
  .playlist input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .playlist h3 {
    color: #ffffff;
  }
  
  .playlist button[type="submit"] {
    background-color: #e9944e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .playlist button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 115, 0);
  }